h1 {
  text-align: center;
  font-family: monospace;
  font-style: normal;
}

nav {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 40px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.cardForm {
  outline-style: solid;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(67, 62, 62);
  padding: 25px;
  margin: auto;
  width: 25%;
  height: 70%;
}

.iselnavbar {
  background-color: #333;
  overflow: hidden;
  height: 60px;
  text-align: center;
  margin: 0px;
  width: inherit;
}

.iselGroupRight {
  float: right;
  height: 100%;
  width: 25%;
  display: inline-flex;
  justify-content: flex-end;
}

.iselGroupLeft {
  float: left;
  height: 100%;
  width: 25%;
  display: inline-flex;
  justify-content: flex-start;
}

.iselGroupCenter {
  height: 100%;
  display: inline-block;
  width: 50%;
}

.createUserDiv {
  padding: 0px;
  text-align: center;
  display: inline-flex;
  width: 80%;
  justify-content: center;
}

.createUserLink {
  border-radius: 10px;
  padding: 5px;
  color: black;
  background-color: #f2f2f2;
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  text-decoration: none;
  width: 220px;
  border: 2px solid black;
}

/* Style the links inside the navigation bar */
.iselLink {
  float: left;
  color: #f2f2f2;
  vertical-align: middle;
  padding: 13px 20px;
  /* First Center Alignment - Second Distance between buttons*/
  text-decoration: none;
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  flex-flow: column;
}

.iselLinkLogo {
  float: left;
  color: #f2f2f2;
  vertical-align: middle;
  /*padding: 13px 20px;
  /* First Center Alignment - Second Distance between buttons*/
  text-decoration: none;
  font-size: 25px;
  font-family: monospace;
  font-style: normal;
  display: inline-flex;
  justify-content: center;
  box-sizing: content-box;
  height: inherit;
}


.label {
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}

.loginError {
  color: white;
  background-color: red;
  font-size: 50px;
  text-align: center;
}

.rankingsTable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid;
  border-collapse: collapse;
  border-color: white;
  width: 50%;
}

.tableHead {
  text-align: center;
  border-bottom: 1px solid;
  border-color: white;
  background-color: #333;
  padding: 15px;
  color: lightgray;
  font-size: large;
}

.tableCell {
  text-align: center;
  border-bottom: 1px solid;
  padding: 15px;
  border-color: white;
  background-color: gray;
  color: #333;
  font-size: large;
}

.h2Class {
  text-align: center;
  font-family: monospace;
  font-style: normal;
}

.submitButton {
  border: black;
  width: 50%;
  height: 30px;
  background-color: whitesmoke;
  font-size: large;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  width: 100%;
}

html {
  height: 100%;
}

.firstDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.centerDiv {
  padding: 0px;
  min-height: 100%;
  display: block;
}

.searchBar {
  height: 100%;
  width: 60%;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #333;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  cursor: pointer;
}

.searchForm {
  height: 70%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 9px;
}

.searchBarButton {
  height: 100%;
  width: 6%;
  display: inline-block;
  box-sizing: border-box;
  background-color: whitesmoke;
  background-image: url('search-icon.png');
  background-position: center;
  font-size: 17px;
  background-size: 25px;
  background-repeat: no-repeat;
  border: 2px solid #333;
  border-radius: 10px;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
}

.logo {
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.registerInput {
  height: 100%;
  width: 60%;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #333;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.emailInput {
  height: 100%;
  width: 60%;
  background-color: white;
  background-image: url('email-logo.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  padding: 10px 50px 10px 40px;
  font-size: 17px;
  border: 2px solid #333;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.nameInput {
  height: 100%;
  width: 60%;
  background-color: white;
  background-image: url('user-logo.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  padding: 10px 50px 10px 40px;
  font-size: 17px;
  border: 2px solid #333;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.passwdInput {
  height: 100%;
  width: 60%;
  background-color: white;
  background-image: url('passwd-logo.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  padding: 10px 50px 10px 40px;
  font-size: 17px;
  border: 2px solid #333;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.inputDiv {
  padding: 15px;
}

.titleDiv {
  padding: 100px;
}

.titleClass {
  font-size: 40px;
  text-align: center;
  font-family: monospace;
  font-style: normal;
}

.hrClass {
  border: 1px solid black;
}

.hrDiv {
  padding: 15px;
}

.toggleDiv {
  float: left;
  display: inline-flex;
  justify-content: center;
}

.darkModeToggle {
  padding: 10px 20px;
  display: inline-flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: rgb(244, 189, 33);
  border-radius: 50px;
  outline: none;
}

.darkModeTogglet:before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: navy;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
}

.showDiv {

  display: flex;
  flex-flow: column;
  height: 50%;
}

.pageDiv {
  /* display: flex;
  flex-direction: column; */
  flex: auto;
  background-repeat: space;
  background-size: 100% 100%;
  max-height: 93%;
}

.cardContent {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  background-color: black;
  height: inherit;
  width: inherit;
  text-align: center;
  transition: .5s ease;
  position: relative;
}

.popularContentGrid {
  display: grid;
  justify-content: center;
  gap: 8px;
  column-gap: 20px;
  grid-template-columns: repeat(10, 6.5%);
  margin-right: 50px;
  margin-left: 50px;
  padding: 0px;
  flex: 3;
}

.imgPopular {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.h2ClassGrid {
  text-align: center;
  font-family: monospace;
  font-style: normal;
  font-size: 23px;
}

.cardContent:hover .cardOverlay {
  opacity: 0.7;
  background-color: black;
}

.cardOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: inherit;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.cardOverlay p {
  color: white;
  font-family: fantasy;
  font-size: large;
  opacity: 1;
}

.profileCard {
  display: flex;
  flex-flow: column;
  outline-style: solid;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(67, 62, 62);
  padding: 25px;
  margin: auto;
  width: 35%;
  height: 50%;
}

.profileDiv {
  flex: 1;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.profileDivTitle {
  flex: 0 0 20%;
  text-align: center;
}

.infoDiv {
  display: inline-flex;
  height: 60%;
  background-repeat: space;
  background-size: 100% 100%;
  width: 100%;
}

.posterDiv {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.textInfoDiv {
  flex: 2;
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 10px;
}

.apiDiv {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.watchProvidersDiv {
  height: 40%;
  display: flex;
  flex-flow: column;
  color: white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-sizing: border-box;
}

.posterImg {
  border-radius: 10px;
  height: 70%;
  width: 50%;
  margin: auto;
}

.contentTitle {
  flex: 0 0 10%;
  font-size: 30px;
  font-family: monospace;
  font-style: normal;
  text-align: center;
}

.overview {
  flex: auto;
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  background-color: rgba(114, 105, 105, 0.5);
  margin: 10px;
  border-radius: 10px;
  vertical-align: middle;
}

.overview p {
  padding: 10px;
}

.contentStats {
  flex: 0 0 20%;
  display: inline-flex;
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  text-align: center;
}

.contentStats p {
  flex: 1;
  align-self: center;
}

.apiInfo {
  flex: 0;
  display: inline-flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 15px;
  width: 150px;
}

.apiLogo {
  border-radius: 15px;
  height: 50px;
  width: 50px;
  margin: auto;
}

.apiTitle {
  font-size: large;
  font-family: monospace;
  font-style: normal;
  flex: auto;
  text-align: left;
  padding-left: 20px;
  margin: auto;
}

.searchContentGrid {
  display: grid;
  justify-content: center;
  gap: 50px;
  column-gap: 60px;
  grid-template-columns: repeat(10, 6.5%);
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
}

.searchTitleDiv {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.providerLogo {
  border-radius: 10px;
  height: 50px;
  width: 50px;
  padding: 5px;
}

.providersDivMovies {
  display: inline-flex;
  flex-flow: column;
  height: 100%;
}

.dropdownInfoDiv {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(114, 105, 105, 0.5);
}

.dropdownDiv {
  flex: 4;
  text-align: center;
  max-height: 80%;
}

.dropdownTitleDiv {
  flex: 1;
  font-size: large;
  font-family: monospace;
  font-style: normal;
  text-align: center;
}


.dropdownResultsDivMovies {
  flex: 5;
  display: flex;
  justify-content: center;
  background-color: rgba(114, 105, 105, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  align-items: center;
  gap: 10px;
}

.providersTitleDiv {
  flex: 0 0 15%;
  text-align: center;
  line-height: 20px;
}

.dropdown {
  width: 50%;
  height: 50px;
  padding: 10px;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

.selected {
  height: 100px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
  display: block;
}

.dropdown:hover {
  background-color: whitesmoke;
}

.resultsInfo {
  flex: 1;
  max-width: 300px;
  display: inline-flex;
  height: max-content;
  border-radius: 10px;
  border: 1px solid white;
  margin: 5px;
  background-color: rgba(128, 122, 122, 0.5);
}

.resultsTitle {
  font-size: large;
  font-family: monospace;
  font-style: normal;
  flex: auto;
  text-align: left;
  /*  padding-top: 10px;*/
  padding-left: 10px;
  padding-right: 10px;
  /*  padding-bottom: 10px;  */
  margin-top: 20px;
}

.notAvailableInfo {
  font-size: 30px;
  font-family: monospace;
  font-style: normal;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex: auto;
}

.notAvailableInfoDiv {
  flex: 1;
  display: inline-flex;
  height: 60px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 5px;
  background-color: rgba(128, 122, 122, 0.5);
}

.backdrop {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
}

.watchProvidersDivSeries {
  height: 40%;
  display: flex;
  flex-flow: column;
  color: white;
  /* border: 1px solid white; */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.providersDivSeries {
  display: inline-flex;
  flex-flow: column;
  height: 100%;
}

.seasonsDiv {
  display: inline-flex;
  flex: 0 0 85%;
  max-height: 85%;
}

.providersLogos {
  flex: 1;
  display: inline-flex;
  border: 1px solid black;
  background-color: rgba(114, 105, 105, 0.5);
  border-radius: 10px;
  margin-bottom: 1px;
}

.seasonEpisodes {
  flex: 5;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-auto-rows: 60%;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 1px;
  background-color: rgba(114, 105, 105, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
}

.episodeInfo {
  padding: 5px;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-top: 1px;
  margin: 5px;
  display: flex;
  flex-flow: row;
  vertical-align: middle;
}

.episodeInfo p {
  flex: 0 0 60%;
  /* height: 100%; */
  margin: 0px;
  /* margin-top: 6px; */
  max-height: min-content;
  align-self: center;
}

.dropdownResultsDivSeries {
  flex: 5;
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.watchNowTitle {
  font-size: 25px;
  font-family: monospace;
  font-style: normal;
  display: inline-block;
  line-height: 2;
  vertical-align: middle;
  margin: 0px;
}

.availableTitleDiv {
  flex: 0 0 15%;
  display: flex;
  justify-content: center;
}

.availableTitle {
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  margin: 0%;
  padding-top: 24px;
  padding-bottom: 10px;
}

.providersInfoDiv {
  display: inline-flex;
  flex: 0 0 85%;
  max-height: 85%;
}

.buttonsDiv {
  flex: 0 0 10%;
  display: inline-flex;
  justify-content: space-around;
  margin: 10px;
}

.buttonList {
  flex: 0 0 40%;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  cursor: pointer;
}

/* .buttonList:hover {
  background-color: red;
} */

.buttonState {
  flex: 0 0 40%;
  border-radius: 10px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  cursor: pointer;
}

.buttonPTW label {
  margin: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.checkmark {
  width: 20px;
  border-radius: 10px;
  accent-color: red;
}

.showListsDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 50%;
  max-height: 50%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  text-align: center;
  display: inline-flex;
  flex-flow: column;
}

.showListsGrid {
  flex: 0 0 83%;
  max-height: 83%;
  border-radius: 10px;
  background-color: rgba(114, 105, 105, 0.5);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 100px;
  text-align: center;
  margin: 5px;
  margin-top: 0px;
  overflow-y: auto;
}

.showListInfo {
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  color: black;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-top: 1px;
  margin: 5px;
}

.listsTitle {
  flex: auto;
  font-size: 25px;
  font-family: monospace;
  font-style: normal;
  color: black;
  margin-right: 100px
}

.listsTitleDiv {
  flex: 0 0 10%;
  display: flex;
  margin-bottom: 5px;
}

.exitLists {
  flex: 0 0 5%;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 25px;
  font-family: monospace;
  font-style: normal;
  border-radius: inherit;
}

.listInfo {
  border: 0px;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 2px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: monospace;
  font-style: normal;
  height: 100%;
}

.listInfo label {
  margin-top: 25px;
  margin-bottom: 25px;
  max-height: 100%;
}

.checkmarkLists {
  width: 50px;
  border-radius: 10px;
  accent-color: red;
  height: 25px;
  margin-top: 53%;
  margin-bottom: 47%;
}

.dropdownState {
  width: 90%;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  /* border: 2px solid black; */
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  background-color: rgba(114, 105, 105, 1);
  color: white;
}

.episodeButtons {
  flex: 0 0 40%;
  display: inline-flex;
  height: 100%;
  width: 100%;
  max-width: 100%;
  align-items: center;
}

.episodeInfoButton {
  flex: 0 0 50%;
  height: 70%;
  border-radius: 10px;
  background-color: rgba(114, 105, 105, 0.5);
  border: 1px solid white;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  color: white;
  margin-left: 5px;
}

.checkmarkEpisodes {
  flex: 0 0 20%;
  accent-color: red;
  height: 20px;
  margin-top: 12px;
}

.addEpisode {
  flex: 0 0 100%;
  display: flex;
}

.addEpisode label {
  flex: 0 0 50%;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  margin: 12px;
  margin-right: 0px;
  text-align: right;
}

.episodeDiv {
  height: 100%;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.episodeImg {
  border-radius: 10px;
  height: 50%;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50%;
}

.textInfoEpisodeDiv {
  flex: 2;
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.watchedDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: monospace;
  font-style: normal;
}

.watchedDiv label {
  height: 100px;
}

.imageDiv {
  flex: 2;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  max-height: 65%;
}

.checkmarkEpisode {
  width: 50px;
  border-radius: 10px;
  accent-color: red;
  height: 25px;
  margin-top: 7px;
}

.moviesDiv {
  flex: 0 0 49%;
  height: 100%;
  max-height: 49%;
  display: flex;
  flex-flow: column;
}

.stateListsDiv {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.contentDisplay {
  flex: 0 0 80%;
  display: flex;
  max-height: 80%;
}

.contentGrid {
  flex: 1;
  padding: 0px;
  width: 100%;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 100%;
  justify-items: center;
  align-items: center;
  background-color: rgba(114, 105, 105, 0.5);
  border-radius: 10px;
  border: 1px solid white;
}

.contentGridElem:hover .cardOverlayElem {
  opacity: 0.7;
  background-color: black;
}

.cardOverlayElem {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: inherit;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.cardOverlayElem p {
  color: white;
  font-family: fantasy;
  font-size: large;
  opacity: 1;
}

.navigationButton {
  color: white;
  font-size: 30px;
  font-family: monospace;
  font-style: normal;
  margin: 20px;
  background-color: rgba(114, 105, 105, 0);
  border: 0px;
  border-radius: 10px;
  width: 100%;
}

.navigationButtonDiv {
  flex: 0 0 10%;
  display: flex;
}

.navigationButton:hover {
  background-color: rgba(114, 105, 105, 0.5);
}


.contentGridElem {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: black;
  height: 80%;
  width: 60%;
  text-align: center;
  transition: .5s ease;
  position: relative;
}

.contentImg {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.seriesDiv {
  flex: 0 0 33.33333333%;
  height: 100%;
  max-height: 33.33333333%;
  display: flex;
  flex-flow: column;
}

.stateListTitle {
  flex: 0 0 10%;
  font-size: 30px;
  font-family: monospace;
  font-style: normal;
  text-align: center;
  margin-bottom: 0px;
}

.listsMainDiv {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.listsTitle {
  flex: 0 0 9%;
  color: white;
  font-size: 25px;
  font-family: monospace;
  font-style: normal;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 100px
}

.listsMainTitleDiv {
  flex: 0 0 10%;
  align-items: center;
  text-align: center;
}

.listsMainTitle {
  color: white;
  font-size: 30px;
  font-family: monospace;
  font-style: normal;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 15px;
}

.listsDiv {
  flex: 0 0 90%;
  display: flex;
  flex-flow: column;
  max-height: 90%;
}

.listsInfoDiv {
  flex: 0 0 50%;
  display: flex;
  flex-flow: column;
  height: 50%;
  /* background-color: rgba(114, 105, 105, 0.5);
  border-radius: 10px;
  border: 1px solid white; */
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
  max-height: 49%;
}

.listsInfo {
  display: grid;
  grid-template-columns: repeat(5, 15%);
  grid-auto-rows: 100px;
  justify-content: space-around;
  background-color: rgba(133, 126, 126, 0.5);
  border-radius: 10px;
  border: 1px solid white;
  height: 100%;
  gap: 10px;
  column-gap: 10px;
  margin: 5px;
  overflow-y: auto;
  width: 80%;
  align-self: center;
}

.listButton {
  border-radius: 10px;
  background-color: rgba(145, 136, 136, 0.5);
  border: 1px solid white;
  margin: 5px;
  color: white;
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  text-align: center;

}

.listButton:hover {
  background-color: rgba(182, 168, 168, 0.5);
}

.listDiv {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.listDisplay {
  display: flex;
  margin-bottom: 10%;
}

.listDisplayDiv {
  flex: 0 0 70%;
  display: flex;
  flex-flow: column;

}

.contentTitleList {
  flex: 0 0 20%;
  font-size: 30px;
  font-family: monospace;
  font-style: normal;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;

}

.selectForm {
  flex: 1;
  margin: 10px;
  font-size: 17px;
  font-family: monospace;
  font-style: normal;
  height: 30px;
  border-radius: 10px;
  padding-left: 5px;
  border: 1px solid black;
}

.labelSelect {
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  width: max-content;
  align-self: center;
}

.selectDiv {
  display: flex;
  padding-left: 60px;
  padding-right: 55px;
}

.errorMsg {
  flex: 1;
  color: white;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  margin: 0px;
  padding-left: 6px;
}

.errorDiv {
  background-color: red;
  margin-left: 60px;
  margin-right: 55px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  height: 50px;
  align-items: center;
}

.error[hidden] {
  display: none;
}

.errorButton {
  background-color: red;
  color: white;
  border: 0px;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  width: 35px;
}

.createListButton {
  border-radius: 10px;
  border: 1px solid white;
  background-color: rgba(182, 168, 168, 0.5);
  color: white;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  height: 30px;
  width: 150px;
}

.contentTitleListDiv {
  flex: 0 0 30%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.deleteListButton {
  border-radius: 10px;
  border: 1px solid white;
  background-color: rgba(182, 168, 168, 0.5);
  color: white;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  height: 30px;
  width: 150px;
  align-self: center;
}

.deleteFromListButton {
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  background-color: rgb(255, 0, 0, 1);
  color: white;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  height: 30px;
  width: 150px;
  align-self: center;
  z-index: 1;
}

.contentEmptyList {
  font-size: 30px;
  font-family: monospace;
  font-style: normal;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
}

.contentEmptyListDiv {
  height: 100%;
}

.userInfoDiv {
  flex: 0 0 80%;
  display: flex;
  
}

.editUserDiv {
  flex: 1;
  display: flex;
}

.userProfileDiv {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.editUsercardForm {
  outline-style: solid;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(67, 62, 62);
  padding: 25px;
  margin: auto;
  width: 35%;
  height: 50%;
  align-self: center;
}

.userTitle {
  font-size: 20px;
  font-family: monospace;
  font-style: normal;
  align-self: center;
}

.deleteUserButton {
  border-radius: 10px;
  border: 1px solid white;
  background-color: rgb(255, 0, 0, 1);
  color: white;
  font-size: 15px;
  font-family: monospace;
  font-style: normal;
  height: 30px;
  width: 150px;
  margin-top: auto;
  align-self: center;
}